.div1{
    height: 100px;
    width: 400px;
    position: relative;
    top: 20px;
    background: pink;
    opacity: 0.5;
}
.div2{
    height: 300px;
    width: 350px;
    position: relative;
    top: -20px;
    left: 15px;
    background-color: green;
    z-index: -1;
}

.container{
    height: 500px;
    width: 300px;
    background-color: gray;
}

.scene .boy{
    position: relative;
    top: 70px;
    z-index: 3;
}

.scene .ring{
    position: relative;
    z-index: 2;
}

.scene .water{
    position: relative;
    z-index: 1;
    bottom: 70px;
}

