@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');

body{
    padding:1.25em;
}
table{
    width:100%;
    border:1px solid #ddd;
    border-radius:1em;
    font-family:"Poppins","Verdana",sans-serif;
    border-spacing: 0;  /*To remove the space between the border of all elements */
    overflow: hidden;
}

th{
    background-color: #215a8e;
    color:white;
    text-align: left;   
    text-transform: uppercase;
}

td,th{
    padding:1em;
}

tr:nth-child(even){
    background-color: #ddd;
}

