table,td{
    border: 1px solid black;
    border-spacing: 1px;
}
table{
    width:60%;
    margin: auto;
}

.table1{
    margin-top:-15px;
}

td{
    height: 20px;
}

.table2{
    margin-top: 50px;
}

.table3{
    margin-top: 50px;
}

.img{
    width:300px;
    height:200px;
}

.tr1{
    background-color: green;
}
.tr3{
    background-color: blue;
}

p{
    text-align: center;
    font-weight: bold;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}



